.buttonsBar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #f3ffeb;
  padding: 50px 20px;
  font-size: 20px;
  color: #2c2e2f;
}

.buttonsBar h1 {
  color: #62BA27;
  font-weight: 400;
  padding-right: 20px;
}

.buttonsBar p {
  color: #2c2e2f;
 
  cursor: pointer;
  padding-right: 40px;
}