/* Add your global styles here */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: #333; */
  color: #2C2E2F;
  width: 100%;
}

