.main {
  /* background-color: blueviolet; */
  height: auto;
  /* display: flex;
  align-items: flex-start;
  justify-content: flex-start; */
}

.persona {
  display: flex;
  margin-right: 40px;
  /* background-color: rgb(230, 148, 41); */
  align-items: center;
  /* justify-content: flex-start; */
  /* margin-right: 130px; */
  font-size: 12px;
  cursor: pointer;
  /* align-self: center; */
}

/* .main {
  background-color: blueviolet;
  height: auto;
  display: flex;
  align-items: flex-start;
  align-self: left;
  justify-content: left;
}

.persona {
  display: flex;
  margin-right: 40px;
  background-color: antiquewhite;
margin-right: 40px;
display: flex;
height: 50px; 
  
  align-items: flex-start;
  align-self: center;
justify-content: flex-start;
margin-right: 130px;



  font-size: 12px;
  cursor: pointer;
} */

.nameDiv {
  /* background-color: aqua; */
  margin-left: 16px;
  margin-right: 16px ;
}

.name {
  font-size: 14px;
  font-weight: 500;
}

.post {
font-size: 12px;
font-weight: 400;
}

.dropdown {
  /* background-color: rgb(250, 211, 138);
  display: flex;
  align-self: center; */
  /* align-self: center;  */

}

.menu {
  /* background-color: aquamarine;
margin: 30px;
margin-right: 30px;
padding-right: 40px;
display: flex; */
}