.main {
  height: auto;
}

.persona {
  display: flex;
  margin-right: 40px;
  align-items: center;
  font-size: 12px;
  cursor: pointer;

  .nameDiv {
    margin-left: 16px;
    margin-right: 16px;

    .name {
      font-size: 14px;
      font-weight: 500;
      color: #000000;
    }

    .post {
      font-size: 12px;
      font-weight: 400;
      color: #3f3f3faf;
    }
  }
}
