.table {
  margin-top: 30px;
  border: #45454518 1px solid;
  border-radius: 12px;
}

.options {
  cursor: pointer;
}

.mark {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  color: #454545;
  font-size: 14px;
  display: flex;
  align-items: center;
  border: #49484818 1px solid;
  border-radius: 2px;
  cursor: pointer;
  padding: 20px;
  width: fit-content;
}

.table h2 {
  font-size: 30px;
  font-weight: 400;
  color: rgba(22, 22, 22, 0.562);
  margin: 30px 30px 0;
}

.searchBox {
  margin: 30px 30px 30px;
  padding: 6px;
  padding-left: 30px;
  border:  rgba(0, 0, 0, 0.562) 1px solid;
  border-radius: 4px;
  width: 20%;
}


.searchContainer {
  position: relative;
  color: #000000c0;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}

